.header-title{
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
}
.userwrap{
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
}
.user-panel{
overflow: visible !important;
} .banner::after {
    content: ""; // ::before and ::after both require content
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(0 0 0 / 30%);
    opacity: .7;
}