<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Sanction</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Sanction</a></li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Sanction</h3>
          <div class="card-tools">
            <button class="btn btn-tool" data-card-widget="collapse" type="button">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" id="cbForm">
          <form (ngSubmit)="submitList(formdata.value)" [formGroup]="formdata">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>Financial Year</label>
                  <ng-select [items]="finYearData" bindLabel="finYear" class="form-control select2bs4"
                    formControlName="finYearName" placeholder="Select Financial Year" required style="width: 100%">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Sanction Number</label>
                  <input class="form-control" formControlName="sanctionNumber" id="sanctionNumber"   type="text"   />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Sanction Name</label>
                  <input class="form-control" formControlName="sanctionName" id="sanctionName"   type="text"   />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Santion Date</label>
                  <input class="form-control" formControlName="sanctionDate" id="sanctionDate" placeholder="Enter Date" type="date"/>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label>Sanction Type</label>
                  <ng-select [(ngModel)]="sanctionType" [items]="sanctionTypes" bindLabel="value"
                    class="form-control select2bs4" formControlName="sanctionType" name="subHead"
                    placeholder="Select Sanction Type"
                    style="width: 100%">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Sanction Amount</label>
                  <input class="form-control" formControlName="sanctionAmount" id="sanctionAmount"   type="Number"   />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Firm Name</label>
                  <input class="form-control" formControlName="firmName" id="firmName"   type=" text"   />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Work Order Number</label>
                  <input class="form-control" formControlName="workOrderNo" id="workOrderNo"   type=" text"   />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Invoice Number</label>
                  <input class="form-control" formControlName="invoiceNo" id="invoiceNo"   type=" text"   />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Invoice Date</label>
                  <input class="form-control" formControlName="invoiceDate" id="invoiceDate"   type="Date"   />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="invoice">Authority Upload</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input #invoiceFileInput class="custom-file-input" formControlName="file" id="invoice"
                             type="file">
                      <label class="custom-file-label" for="invoice" id="invoice2">Choose file</label>
                    </div>
                    <div class="input-group-append">
                      <span (click)="upload('invoice')" class="input-group-text" style="cursor: pointer">Upload</span>
                    </div>

<!--                    <div class="input-group-append" *ngIf="invoice!=undefined">-->
<!--                      <span class="input-group-text" (click)="viewFile(invoice)">View</span>-->
<!--                    </div>-->
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label>Sanction Detail</label>
                  <textarea class="form-control" formControlName="sanctionDetail" id="sanctionDetail"
                    placeholder="Sanction Detail"
                    type="text"></textarea>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Authority Details</label>
                  <textarea class="form-control" formControlName="authDetail" id="authDetail"
                    placeholder="Authority Details"
                    type="text"></textarea>
                </div>
              </div>
              <div class="col-md-3">
                <label style="opacity: 0;">.</label><br>
                <button class="btn btn-primary" type="button">Submit</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.modal -->
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
