.wrapper{
background: #ffffff !important;
}
.page-body-wrapper{
    width: 100%;
}
#myVideo {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
    z-index:0;
    opacity: .2;
  }
  .card{
    z-index:1;
    background-color: #9d939340 !important;
  }
  .login-card-body, .register-card-body{
    border-radius: 8px;
    background-color: #ffffff2b !important;
  }
  .login-card-body .input-group .input-group-text, .register-card-body .input-group .input-group-text{
color:#ffffff !important;
  }
  .login-box-msg{
    color: #ffffff !important;
    font-weight: 500 !important;
  }
  .icheck-primary label, .forgot a{
    color: #ffffff !important;
  }
  .login-page, .register-page {
    background-color: #434343 !important;
  }
  .tp-header-brown {
    background: url('../../assets/img/heder_3.jpg') left top no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.logo-army{
  height: 162px;
  display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
}
.banner::after {
  content: ""; // ::before and ::after both require content
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgb(0 0 0 / 30%);
  opacity: .7;
}
#navbarSupportedContent{
  justify-content: center;
}
.footer ul li a{
  border-right: 1px solid #ffffff;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.footer ul li:last-child a{
  border-right: 1px solid transparent;}
  .active-user{
    color: #ffd800;

  }
  .fwrap{
    flex-direction: column;
  }
  .helpdesk{
   color: #ffffff;
  }
  .helpdesk p, a, label{
    margin-bottom: 0 !important;
    font-weight: 500 !important;
  }