<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Unit Registration</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Unit Registration</a></li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">User Registration</h3>
            <div class="card-tools">
              <button class="btn btn-tool" data-card-widget="collapse" type="button" >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body" id="cbForm">
            <form (ngSubmit)="submitList(formdata.value)">
              <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                      <label>User Name</label>
                      <input class="form-control" formControlName="UserName" id="UserName"   type="text"   placeholder="Enter User name"/>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>User Code</label>
                      <input class="form-control" formControlName="UserCode" id="UserCode"   type="text"   placeholder="Enter User Code"/>
                    </div>
                  </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>User Type</label>
                    <ng-select class="form-control select2bs4"
                      formControlName="UserType" placeholder="Select User Type" required style="width: 100%"
                      >
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                      <label>User Level Type</label>
                      <ng-select class="form-control select2bs4"
                        formControlName="UserTypeLevel" placeholder="Select User Level Type" required style="width: 100%"
                        >
                      </ng-select>
                    </div>
                  </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Brigade</label>
                    <input class="form-control" formControlName="Brigade" id="Brigade"   type="text"   placeholder="Enter Brigade"/>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Address</label>
                    <input class="form-control" formControlName="address" id="address"   type="text"   placeholder="Enter Address"/>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>District</label>
                    <input class="form-control" formControlName="district" id="district"   type="text"   placeholder="Enter District"/>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>City</label>
                    <input class="form-control" formControlName="city" id="city"   type="text"   placeholder="Enter City"/>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>State</label>
                    <input class="form-control" formControlName="state" id="state"   type="text"   placeholder="Enter State"/>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Pincode</label>
                    <input class="form-control" formControlName="pincode" id="pincode"   type="Number"   placeholder="Enter Pincode"/>
                  </div>
                </div>
                <div class="col-md-3">
                    <label style="opacity: 0;">.</label><br>
                    <button class="btn btn-primary" type="button">Submit</button>
                  </div>
                <!-- /.col -->
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.modal -->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
